/*Color Brewer Sequential 5 Purple Scale:
#79A1F2
#9BC1F2
*/

/*Styles for responsive design, mobile first then expanding out as needed*/

/*****************************************************************************************************************/
/*Global Styles*/
/*****************************************************************************************************************/

/*Sets font-family body wise*/
body {
	font-family: 'Open Sans', sans-serif;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	
}

.bodyContent {
	margin-bottom: 50px;
}

/*****************************************************************************************************************/
/*Top Navigation Header Styles*/
/*****************************************************************************************************************/


/*Navigation header font size*/
#header {
	font-family: "Helvetica Neue", Georgia, "Times New Roman", Times, serif;
	font-size: 14pt;
}

/*Brand icon is at max height of navbar*/
.navbar-brand {
	padding: 2px 10px;
}

.navbar-brand img {
	margin-top: 3px;
	height: 70px;

}

.navText {
	border-bottom: 2px solid #5D75A6;
}



/*Sets the nav header background color, header color schemes*/
.navbar, .navbar-header {
	min-height:80px !important;
	background-color: #ffffff;
	margin-bottom: 0px;
	font-size: 18px;
	border: none;

}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background: none;
	color: #5c8ef2;
	text-decoration: underline;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #5c8ef2;
	text-decoration: underline;

}
.navbar-default .navbar-nav>li>a {
	color: #737373;
	font-weight: 500;
}

/*Centers the collapsed navbar button*/
button.navbar-toggle {
	margin-top: 20px;
}


/*Centers content on the nav bar*/
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }

	.navbar, .navbar-header {
		min-height:90px !important;
	}


	#header {
		font-size: 11pt;
	}    

	#navbar-collapse-links {
		padding-left: 0px;
		padding-right: 0px;
	}

	.navbar-default .navbar-nav>li>a {
		padding-left: 8px;
		padding-right: 8px;		
	}	

	.navbar-brand {
		padding-top: 3px;
	}

	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 5px;
	}
	/*Sets line height of nav text to center for larger media*/
	.navbar-nav>li>a {
		line-height: 65px;
		padding-top: 9px;
	}

}



@media (min-width: 1200px){

	/*Sets the nav header background color, header color schemes*/
	.navbar, .navbar-header {
		font-size: 22px;
	}

	.navbar-default .navbar-nav>li>a {
		padding-left: 14px;
		padding-right: 14px;
	}
}

/*****************************************************************************************************************/
/*Page Title Style*/
/*****************************************************************************************************************/
#pageHeader {
	margin-top: 5vh;
	margin-bottom: 3vh;
}


/*****************************************************************************************************************/
/*Lead Copy Styles*/
/*****************************************************************************************************************/
#leadContent {
	font-size: 12px;
	margin-bottom: 20px;
}


/* Changes font size for adaptiveness*/
@media (min-width: 750px){
	#leadContent {
		font-size: 16px;
	}

}

/* Changes font size for adaptiveness*/
@media (min-width: 1000px){
	#leadContent {
		font-size: 20px;
	}

}

@media (min-width: 1200px){
	#leadContent {
		font-size: 16px;
	}

}

/*****************************************************************************************************************/
/*Project Preview Style*/
/*****************************************************************************************************************/
.iconImage {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 7px;
	padding-right: 7px;

}
.iconImage > img {
	/*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */*/
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(0%); /* Chrome 19+ & Safari 6+ */	
	border: 1px solid #ddd;
	margin-bottom: 10px;

}



.iconImage > p {
	margin: 0px;
	/*margin-top: 10px;*/
	text-align: center;
	font-size: 12px;
}

img.hover {
	filter: none;
	-webkit-filter: grayscale(80%);	
	box-shadow: 5px 5px 5px #888888;	
	cursor: pointer;

}

li.hover {
	cursor: pointer;
	font-weight: 600;
	color: #DC574E;
}

p.hover {
	cursor: pointer;
	
	color: #DC574E;

}

.fa-arrow-circle-left {
	float: left;
}

.fa-arrow-circle-left:hover {
	color: #5c8ef2;
	cursor: pointer;
}


.fa-arrow-circle-right {
	float: right;
}

.fa-arrow-circle-right:hover {
	color: #5c8ef2;
	cursor: pointer;
}

@media (min-width: 750px){

	.iconImage > p {
		font-size: 16px;
	}

	.iconImage {
		padding-left: 15px;
		padding-right: 15px;
	}

}

/* Changes font size for adaptiveness*/
@media (min-width: 1000px){

	.iconImage > p {
		font-size: 20px;
	}

	.iconImage {
		padding-left: 20px;
		padding-right: 20px;
	}


}

@media (min-width: 1200px){

	.iconImage > p {
		font-size: 16px;
	}

	.iconImage {
		padding-left: 15px;
		padding-right: 15px;
	}


}

/*****************************************************************************************************************/
/*Project List Style*/
/*****************************************************************************************************************/

.projectHeader {
	font-size: 24px;
	font-weight: 400;
	/*line-height: 1.5;*/
	/*color: #54278f;*/
}

.subHeader {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 1;
	color: #8E918F;
}

.projectPic > img {
	margin-top: 1vh;
	margin-bottom: 2vh;
}

.project {
	margin-top: 1vh;
	margin-bottom: 4vh;
	display:none;
}

.projectText {
	margin-top: 1vh;
}

.img-thumbnail {
	box-shadow: 5px 5px 5px #888888;
	width: 100%;
}

@media (min-width: 992px){
	.projectText > p {
		margin-bottom: 3vh;
		font-size: 16px;
	}
}

.emphasis {
	font-weight: 600;
}

.no-bullet {
	font-size: 18px;
	list-style: none;
	line-height:1.6;
	margin-bottom: 20px;
}

p.pubList {
	font-size: 12px;
	margin-bottom: 5px;
}

.pubHeader {
	margin-bottom: 5px;
	font-size: 16px;
}
/*****************************************************************************************************************/
/*Footer Navigation Styles*/
/*****************************************************************************************************************/


/* Footer Styles */
footer{
/*	position: absolute;
	bottom: 0px;
*/	width: 100%;
	color: white;
}

footer>div{
  background: #223459;
  padding-top: 1%;
  padding-bottom: .5%;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #FFFFFF;
}

footer .active {
	color: #FFFFFF;
	text-decoration: underline;
}

/* Centers footer content */
footer {
	text-align: center;
}

